RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php/$1 [L]
#In the above example, any HTTP request other than those for existing directories and existing files is treated as a request for your index.php file. 